{% if site.data.theme.timeline-child-objects == true %}
{%- assign obj-count = site.data[site.metadata] | where_exp: 'item','item.objectid' | size -%}
{% else %}
{%- assign obj-count = site.data[site.metadata] | where_exp: 'item', 'item.objectid' | where_exp: 'item','item.parentid == nil' | size -%}
{% endif %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">lista de fotos</h5>
        <p class="card-text h5">{{ obj-count }} Images <i class="far fa-image"></i>
        <br><a href="{{ '/data.html' | relative_url }}" class="btn btn-sm btn-{{ include.btn-color | default: 'outline-secondary' }} mt-2">lista de fotos</a></p>
    </div>
</div>
